@use '@styles/mixins.scss' as *;

.main-content {
    display: flex;

    gap: 2em;

    width: 100%;

    max-width: var(--page-max-width);

    min-height: 810px;

    background-color: var(--checkout-page-bg);

    box-sizing: border-box;

    border-radius: 0 0 var(--page-border-radius) var(--page-border-radius);
}

@media (max-width: 600px) {
    .main-content {
        flex-direction: column;
    }
}

.loading-modal {
    position: absolute;
    top: 0;
    left: 0;

    @include flex-center;

    width: 100vw;
    height: 100vh;
}

.spinner {
    display: block;

    width: 52px;
    height: 52px;

    border: 5px var(--accent-color) solid;
    border-bottom-color: transparent;

    border-radius: 50%;

    animation: rotation 1s linear infinite;

    &.hidden {
        display: none;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
