.admin-page {
    width: 100%;
    max-width: var(--page-max-width);

    background-color: var(--foreground-color);

    padding: 0 var(--page-content-x-padding);
    box-sizing: border-box;

    border-radius: 0 0 var(--page-border-radius) var(--page-border-radius);
}
