@use '@styles/mixins.scss' as *;

.navbar {
    @include flex-column;
    gap: 1em;

    flex: 1;
    max-width: 220px;
    max-height: fit-content;
}
.controller {
    width: 100%;

    border-radius: 10px;

    padding: 1em;
    box-sizing: border-box;

    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
}

.active-controller {
    color: var(--accent-color);
    background-color: var(--main-bg-color);
}

@media (max-width: 600px) {
    .navbar {
        max-width: initial;
    }
}
