@use '@styles/mixins.scss' as *;

.navbar {
    @include flex-column;
    gap: 1em;

    flex: 1;

    max-width: 220px;

    max-height: fit-content;
}
.controller {
    width: 100%;

    padding: 1em;
    box-sizing: border-box;

    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;

    transition: color 0.16s ease;

    z-index: 1;
}

.active-controller {
    color: var(--accent-color);
}

.active-block {
    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--main-bg-color);
    border-radius: 10px;

    transition: transform 0.16s ease, width 0.16s ease;
}

@media (max-width: 600px) {
    .navbar {
        max-width: initial;
    }
}
