@use '@styles/mixins.scss' as *;

.navbar {
    position: relative;

    @include flex-column;

    gap: 1em;

    min-width: 220px;
    max-width: 600px;

    background-color: var(--foreground-color);
    border-right: 1px var(--border-color) solid;
    border-bottom-left-radius: var(--page-border-radius);
    padding: var(--navbar-padding);
    box-sizing: border-box;

    --navbar-padding: 1.25em;
}
.resizer {
    position: absolute;
    top: 0;
    right: 0;

    width: 10px;
    height: 100%;

    cursor: ew-resize;

    transition: border 0.1s ease;

    &:active {
        border-right: 2px var(--accent-color) solid;
    }
}

.operation {
    width: 100%;

    padding: 1em;
    box-sizing: border-box;

    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;

    transition: color 0.16s ease;

    z-index: 1;
}

.active-operation {
    color: var(--accent-color);
}

.active-block {
    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--main-bg-color);
    border-radius: 10px;

    width: calc(100% - (var(--navbar-padding) * 2));

    transition: transform 0.16s ease, width 0.1s ease;
}
@media (max-width: 600px) {
    .navbar {
        width: 100%;
        max-width: initial;
        min-width: initial;
    }

    .resizer {
        display: none;
    }
}
