@use '@/styles/mixins.scss' as *;

.operation-page {
    @include flex-x-center;

    flex: 1;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 6em;

    box-sizing: border-box;
}

.operation-form {
    @include flex-column;
    gap: 1em;
    width: 100%;
    max-width: 360px;
}

.title {
    @include text-wo-margin(1.25rem);
    font-weight: 700;
    text-align: center;
}
.inputs-box {
    @include flex-column;
    gap: 0.5em;
}
.operation-input {
    min-width: 260px;
}

@media (max-width: 600px) {
    .operation-input {
        min-width: initial;
    }
}
