@use '@styles/mixins.scss' as *;

.error-page {
    @include flex-center;

    width: 100%;
    max-width: var(--page-max-width);

    height: 800px;

    background-color: var(--main-bg-color);

    border-radius: var(--page-border-radius);

    padding: 4em;
    box-sizing: border-box;
}

.error-box {
    @include flex-y-center;
    gap: 2em;

    width: 100%;
    max-width: 860px;
}

.description-box {
    @include flex-column;
    gap: 3em;

    min-width: 336px;
}
.text-block {
    @include flex-column;
    gap: 0.75em;
}
.title {
    @include text-wo-margin(2.5rem);
    font-weight: 800;
}
.hint {
    @include text-wo-margin(1.25rem);
    color: var(--secondary-font-color);
}

.buttons-group {
    display: flex;
    gap: 1.25em;
}

@media (max-width: 1024px) {
    .error-page {
        border-radius: 0;
    }
}
@media (max-width: 900px) {
    .error-image {
        width: 40%;
    }
}
@media (max-width: 750px) {
    .error-box {
        flex-direction: column;
        gap: 2em;
    }
    .error-image {
        width: 100%;
    }
}
