@use '@styles/mixins.scss' as *;

.not-found-page {
    @include flex-center;

    width: 100%;

    max-width: 1580px;
    height: 700px;

    border-radius: var(--page-border-radius);

    padding: 2em;
    box-sizing: border-box;

    background-color: var(--main-bg-color);
}
.not-found-box {
    @include flex-center;
    gap: 4em;

    max-width: 860px;
}
.text-box {
    @include flex-column;
    gap: 0.5em;
}

.title {
    @include text-wo-margin(2.5rem);
    font-weight: 800;
    letter-spacing: -0.3%;
}

.description {
    @include text-wo-margin(1.25em);
    color: var(--secondary-font-color);
    font-weight: 400;
    letter-spacing: -0.3%;

    max-width: 500px;
}

.return-buttons-block {
    margin-top: 2em;

    display: flex;
    gap: 1.25em;
}
.return-button {
    text-decoration: none;
}

@media (max-width: 750px) {
    .image {
        display: none;
    }
}
