@use '@styles/mixins.scss' as *;

.empty-list-box {
    @include flex-center;
    gap: 2em;

    width: 100%;
}

.text-block {
    @include flex-column;

    gap: 0.5em;
}

.title {
    @include text-wo-margin(2.5rem);
    font-weight: 800;
}
.message {
    @include text-wo-margin(1rem);
    color: var(--secondary-font-color);
}

@media (max-width: 1200px) {
    .image {
        width: 75%;
        height: 75%;
    }
}
@media (max-width: 900px) {
    .empty-list-box {
        flex-direction: column;
    }
}
