@use '@styles/mixins.scss' as *;

.modal-backdrop {
    @include modal-backdrop(10);
    @include flex-center;
}

.modal-wrapper {
    @include modal-wrapper(auto, auto);
    position: relative;
}
.auth-modal {
    width: 100%;
    max-width: 450px;

    background-color: var(--main-bg-color);
    border-radius: 18px;

    padding: 3em;
    box-sizing: border-box;
}

.content-block {
    @include flex-y-center;
    gap: 2em;

    justify-content: space-between;
}

.text-block {
    @include flex-column;

    gap: 0.25em;
}
.title {
    @include text-wo-margin(1.85rem);

    font-weight: 600;
}
.description {
    @include text-wo-margin(1rem);

    width: 100%;

    color: var(--secondary-font-color);
}

.access-button {
    height: 55px;
}

.user-form {
    @include flex-column;
    gap: 1.25em;
}

.close-modal-button {
    color: white;
}

@media (max-width: 600px) {
    .modal-wrapper {
        margin: 0;
    }
    .auth-modal {
        max-width: initial;
        min-height: 350px;
    }

    .close-modal-button {
        position: absolute;
        top: 1.25em;
        right: 1.25em;

        color: var(--secondary-font-color) !important;
    }
}

@media (max-width: 510px) {
    .modal-wrapper {
        height: 100%;
    }
    .auth-modal {
        @include flex-center;

        height: 100%;

        border-radius: 0;
    }
}
