@use '@styles/mixins.scss' as *;

body {
    margin: 0;

    @include flex-column;
    align-items: center;

    padding: 2em 2em 0;
    box-sizing: border-box;

    background: var(--background-color);

    color: var(--font-color);

    font-family: 'Nunito';
}

body * {
    font-family: 'Nunito', system-ui;
}

@font-face {
    font-family: 'Nunito';
    font-weight: 400;
    font-style: normal;

    src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

a:focus-visible,
input:focus-visible,
button:focus-visible {
    outline-color: var(--background-color);

    /* border: 1px var(--foreground-color) solid !important; */
}

:root {
    --background-color: #ffbf9b;
    --font-color: #000000;
    --secondary-font-color: #7b7b7b;
    --accent-color: #fe5f00;

    --main-bg-color: #ffffff;
    --foreground-color: #f9f9f9;

    --unfocused-input-font-color: #c0c0c0;

    --border-color: #ededed;

    --checkbox-color: #f1f1f1;

    --product-bg-color: #fff7ee;
    --add-button-color: #fffaf4;

    --picker-bg-color: #ececec;
    --hover-bg-color: #fe5d00d7;

    --modal-bg-color: #f4f1ee;
}
