body {
    margin: 0;
    padding: 2rem 2rem 0;
    box-sizing: border-box;

    background: var(--background);
    color: var(--font-color);

    font-family: 'Nunito';
}

body * {
    font-family: 'Nunito', system-ui;
}

@font-face {
    font-family: 'Nunito';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

:root {
    --background: #ffbf9b;
    --font-color: #000000;
}
