.access-button {
    position: relative;

    background-color: var(--accent-color);

    height: 50px;
    min-width: 160px;

    border: 0;
    border-radius: 18px;

    padding: 1em 0;
    box-sizing: border-box;

    color: var(--main-bg-color);
    font-size: 1rem;
    text-align: center;

    cursor: pointer;

    transition: background-color 0.2s ease, transform 0.2s ease;

    &:hover {
        background-color: var(--hover-bg-color);
    }
    &:active {
        transform: translateY(-1.6px);
    }
}
