@use '@styles/mixins.scss' as *;

.modal-backdrop {
    @include modal-backdrop(10);
    @include flex-center;
}

.modal-wrapper {
    @include modal-wrapper(auto, auto);
}
.auth-modal {
    @include flex-column;
    gap: 1.25em;

    width: 100%;
    max-width: 450px;

    background-color: var(--main-bg-color);

    border-radius: 18px;

    padding: 3em;
    box-sizing: border-box;
}

.content-block {
    @include flex-y-center;
    justify-content: space-between;
}

.text-block {
    @include flex-column;
    gap: 0.25em;
}
.title {
    @include text-wo-margin(1.85rem);
    font-weight: 600;
}
.description {
    @include text-wo-margin(1rem);
    color: var(--secondary-font-color);

    max-width: 260px;
}
