@use '@styles/mixins.scss' as *;

.modal-backdrop {
    @include modal-backdrop(10);
    @include flex-center;
}

.modal-wrapper {
    @include modal-wrapper(560px);
}
.auth-modal {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 350px;
}
