@use '@/styles/mixins.scss' as *;

.checkout-page {
    @include flex-column;
    gap: 4em;

    width: 100%;

    padding: 3em 6em 5em;
    box-sizing: border-box;

    background-color: var(--modal-bg-color);
}

.title {
    @include text-wo-margin(2.25rem);

    font-weight: 800;
}
