.header {
    display: flex;

    width: 100%;

    max-width: var(--page-max-width);

    background-color: var(--main-bg-color);

    border-bottom: 1px var(--border-color) solid;
    border-radius: var(--page-border-radius) var(--page-border-radius) 0 0;

    padding: 2em var(--page-content-x-padding);
    box-sizing: border-box;
}

.back-link {
    text-decoration: none;
}
