@use '@styles/mixins.scss' as *;

.filtration-box {
    margin-top: 2.25em;

    @include flex-column;
    gap: 0.5em;

    flex: 1;
    max-width: 240px;
}

.title {
    @include text-wo-margin(1.625rem);
}

.filters-list {
    @include flex-column;
}

.filter-block {
    width: 100%;

    border-bottom: 1px var(--border-color) solid;

    padding: 1.5em 0;
    box-sizing: border-box;
}

.filter-block-title {
    @include text-wo-margin(1rem);
    font-weight: 700;
}

.checkboxes-block {
    @include flex-column;
    gap: 1em;
}

.price-block {
    @include flex-column;
    gap: 1em;
}

.price-inputs-group {
    @include flex-y-center;
    gap: 1em;
}

.acces-button-block {
    @include flex-column;
    margin-top: 1em;
}
