@use '@styles/mixins.scss' as *;

.user-form {
    @include flex-center;

    flex-wrap: wrap;

    column-gap: 1.5em;

    padding: 2em;
}

.user-input {
    max-width: 325px;

    min-height: 110px;
}
