@use '@styles/mixins.scss' as *;

.user-buttons-block {
    @include flex-center;
    gap: 1em;
}
.cart-button {
    max-width: 50px;
    height: 50px;
}

.ready-cart-button {
    @include flex-center;
    gap: 0.75em;

    white-space: nowrap;

    min-width: 0;
    width: 100%;

    padding: 0 1.55em;
    box-sizing: border-box;

    font-weight: 600;
}
.vertical-line {
    background-color: var(--main-bg-color);
    opacity: 0.25;

    width: 1.6px;
    height: 25px;
}

.products-quantity-block {
    @include flex-y-center;
}

@media (max-width: 600px) {
    .user-buttons-block {
        gap: 0.5em;
    }
    .ready-cart-button {
        padding: 0 1em;
    }
    .profile-button {
        padding: 0.75em;
    }
}
