@use '@/styles/mixins.scss' as *;

.checkout-page {
    @include flex-column;
    gap: 4em;

    width: 100%;

    border-radius: 0 0 var(--page-border-radius) var(--page-border-radius);

    padding: 3em 4em 5em;
    box-sizing: border-box;

    background-color: var(--checkout-page-bg);

    max-width: 1580px;
}

.title {
    @include text-wo-margin(2.25rem);

    font-weight: 800;
}

.widgets-box {
    display: flex;
    gap: 3em;
}
.user-data-box {
    @include flex-column;
    gap: 3em;

    width: 100%;
}
.order-box {
    width: 100%;
    max-width: 450px;
}

@media (max-width: 1024px) {
    .widgets-box {
        flex-direction: column;
    }
    .order-box {
        max-width: 100%;
    }
}
