@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-x-center {
    display: flex;
    justify-content: center;
}

@mixin flex-y-center {
    display: flex;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin text-wo-margin($fontSize) {
    margin: 0;
    font-size: $fontSize;
}

@mixin modal-backdrop($z-index) {
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.6);

    width: 100%;
    height: 100vh;

    z-index: $z-index;
}

@mixin modal-wrapper($max-height) {
    @include flex-x-center;
    align-items: flex-start;
    gap: 2em;

    width: 100%;
    height: 100%;
    max-height: $max-height;

    margin: 0 2em;
}
